body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

/* header .profile-pic {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1em;
} */

/* header .profile-pic img {
    width: 100%;
    height: auto;
} */

.contact-info, .skills, .Projects, .education {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
    width: 100%;
    bottom: 0;
}
